@import "tailwindcss";





:root {
  --background: #f1f5f9; /* slate-100 */
  --foreground: #f1f5f9; /* slate-900 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f1f5f9; /* slate-900 */
    --foreground: #f1f5f9; /* slate-100 */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Chillax';
  src: url('/fonts/Chillax-Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}